extends db

block dbbody
	#content
		table#users
			thead
				tr
					th User
					th Read only
					th Actions
			tbody
				each user in users
					tr
						td user.user
						td user.readOnly
						td: a.delete(href="#",data-id=user._id)

		a(href="?op=add-user") Add user