extends db

block dbbody
	#db-content
		form#command
			textarea(name="command",cols="60",rows="6") {listCommands: 1}
			br
			
			input(type="hidden",name="op",value="command")
			br
			input(type="submit")
		
		br(style="clear:both")
		#command-result Respuesta del servidor:
			pre