doctype html
html
	head
		title="Mongui - MongoDB ui"
		meta(name="robots",content="noindex,nofollow")
		
		link(rel='stylesheet', href='/css/login.css')
	body
		form(method="post")
			fieldset
				legend Mongui Log-in
				table
					tr
						td User
						td
							input(type="text", name="user", value=user)
					tr
						td Pass
						td
							input(type="password", name="pass")
					tr
						td#submit-cell(colspan="2")
							input(type="submit",value=ml.login)
		if msg
			#msg(style="text-align:center")=msg