extends db

block dbbody
	form(method="post",action=path)
		br
		label Nombre: 
			input(name="colname" required)
		br
		br
		input(type="hidden",name="op",value="createCollection")
		input(type="submit")