extends layout

block content
	.auto-height
		table.lcaption
			thead
				tr
					th(colspan="3") Replication (replSetGetStatus())
			tbody
				if(!info.length)
					tr: td No replica set
				else
					each i,k in info
						tr
							th=k
							td: pre=JSON.stringify(i, null, '\t')