#collections li a{
	padding: 8px 4.6875em 8px 1em;
}
.ui-icon-db:after{
	background-image: url("../img/database.png");
}

#mobile-query-form-container{
	display: none;
}
#update-operators textarea{
	height: 125px;
}