pre{
	margin: 0;
}
a {
  color: #004499;
  text-decoration: none;
  font-weight: normal;
}
a:hover{
	color: #0099FF;
}
a[disabled]{
	pointer-events: none;
	opacity: .6;
}

li.active>a, a.active{
	font-weight: bold;
}

table{
	border-collapse: collapse;
}

td{
	vertical-align: top;
	padding: 4px 8px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 2px 0;
}
.clear{
	clear: both;
}
footer{
	position: fixed;
	bottom: 0;
	padding: 2px 0;
	width: 100%;
	height: 16px;
	text-align: center;
	border-top: 1px solid #ccc;
	background-color: #eeefff;
}

table.lcaption td{
	vertical-align: middle;
}

thead th, .lcaption .thead th{
	background-color: #eee;
}
.breadcrumb, .header{
	border-bottom: 1px solid #5f6d9a;
	background-color: whitesmoke;
	padding: 4px;
	font-size: 1.12em;
	position: fixed;
	margin-top: 0;
	width: 100%;
}
.dbplus{
	display: block;
	width: 4em;
}
.actions{
	border-bottom: 1px solid;
	padding: 4px;
	margin-top: 4px;
}
.result-box{
	padding: 4px;
	border: 2px solid gray;
	margin: 5px;
}
.result-box .actions{
	margin-top: 0;
}
.msg{
	margin: 12px;
}
#header-sep{
	height: 25px;
}
#header-sep-db{
	height: 50px;
}
.result{
	max-height: 162px;
	overflow-y: hidden;
	white-space: pre-wrap;
	padding: 4px 4px 0 4px;
}
.result a.selected{
	font-weight: bold;
}
.expanded{
	max-height: none;
}
#distinct-result {
	margin: 20px;
}
#distinct-result td:first-child{
	text-align: right;
}
#main-t{
	width: 100%;
	margin-bottom: 21px;
}
#leftC{
	background-color: #eeefff;
	border-right: 1px solid;
	padding: 0 8px;
	min-width: 150px;
}
#rightC{
	width: 85%;
	padding: 0;
}
#content{
	padding: 8px;
}
.auto-height{
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 8px;
}
textarea{
	height: 82px;
}
.lcaption th, .lcaption td{
	border: 1px solid #ddd;
}
.lcaption td, .lcaption tbody th{
	background-color: #fbf2ed;
	padding: 2px 8px;
}
.lcaption tbody th{
	text-align: right;
}
.lcaption tbody th:after{
	content: ': ';
}
#query-box{
	min-width: 300px;
}
#query-form{
	text-align: center;
	background-color: #eeefff;
}
#query-form-container{
}
#update-operators{
	display: none;
}
#by-id{
	display: none;
	padding: 20px;
}
#distinct-field{
	display: none;
	padding: 12px;
}
#sort-order{
	text-align: center;
	width: 212px;
}
#sort-order>*>*{
	margin: 2px;
}
#native-fields{
	margin-left: 12px;
}
#native-fields ul{
	background-color: #fff;
	border: 1px inset;
	min-height: 86px;
	overflow: auto;
	text-align: left;
	min-width: 220px;
}
#native-fields li{
	display: inline-block;
	margin-right: 16px;
	min-width: 90px;
}
#native-fields label{
	display: inline-block;
}
#field_menu{
	display: none;
	position: absolute;
	background-color: #eee;
	border: 2px solid #ccc;
	padding: 0 4px;
	min-width: 100px;
}
#field_menu a{
	display: block;
}
#update-dialog{
	padding: 0;
}
#update-dialog th, #update-dialog td{
	background-color: transparent;
	border: 0 none;
}
#db-content{
	padding: 4px 8px;
}
#command{
	float: left;
}
#command-result{
	clear: both;
	display: none;
	margin-top: 14px;
	background-color: #eeefff;
	border: 1px solid gray;
}
#command-result pre{
	white-space: pre-wrap;
}

#indexes tr td:nth-child(3){
	font-size: 1.5em;
}

#indexes tr td:nth-child(n+3){
	text-align: center;
}
#duplicate_tr{
	display: none;
}
#dbs li a{
	display: block;
	padding: 3px 3px 3px 20px;
	font-size: 1.1em;
}

#command-examples{
	float: left;
	text-align: right;
}

#command-examples li{
	padding: 2px 8px;
}

#command-examples li:after{
	content: " ->";
}

ul.list{
	width: 600px;
}
ul.list li{
	float:left;
	width: 200px;
}
#export input[type="checkbox"]{
	margin-right: 8px;
}
#coll-export input[type="submit"]{
	margin: 20px 0;
}

label.radio{
	margin-right: 10px;
}


/* users */

#users{
	margin-bottom: 30px;
	text-align: center;
}
#users th{
	padding: 3px 12px;	
}