extends layout

block content
	#dbsPage(data-role="page")
		div(data-role="header",data-position="fixed")
			a.ui-btn.ui-icon-carat-l.ui-alt-icon.ui-btn-icon-notext.ui-corner-all(href='/')
			h1=dbname+" - "+ml.collections
		div(role="main",class="ui-content")
			ul#collections(data-role="listview")
				each col in collections
					li(class={active:col.name===collection})
						a(href="/db/"+dbname+"/"+col.name)=col.name
							if col.count
								span.ui-li-count=col.count